body{ 
    background-color: #4242a5; /*Define a cor de fundo da página*/
    font-family: 'Roboto', sans-serif; /*Define a fonte utilizada na página*/
}

h1{ 
    color: #fff; /*Define a cor do título*/
    text-align: center; /*Centraliza o texto do título*/
    margin-top: 50px; /*Define a margem superior do título*/
}

p{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

h2{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

h3{
    color: #fff;
    
    margin-top: 20px;
}

audio{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

video{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

ol{
    color: #fff;
    
}

a{
    color: #d3d620;
    text-decoration: none;
}